.nav{
  background-color: turquoise;
  color: white;
  padding: 20px;
}

.bg-image{
  padding: 100px;
}
.bcontent{
  line-height: 80px;
}
.select{
  padding: 20px;
  
}
.dadress{
  padding: 100px;
  color: white;
  }



.imgf1{
  height: 40px;
  width: 40px;
}
.imgf2{
  height: 40px;
  width: 40px;
}
.imgf3{
  height: 40px;
  width: 40px;
}
/* order page*/
.container1{
  padding: 20px;
  color:black;
}
.large{
  border-radius: 1000px;

  
}
.medium{
  border-radius: 1000px;
}
.small{
  border-radius: 1000px;
}


/* .selectpop{
  position: relative;
  text-align: center;
  width:100%;
}
 .listpopup{
   display: none; 
  position: fixed;
  left: 45%;
  top:5%;
  transform: translate(-50%,5%);
  border:3px solid #999999;
  z-index: 9;
}
.listcontainer{
  max-width: 300px;
  padding: 20px;
  background-color: olive;
}
.listcontainer.btn{
  padding: 12px 20px;
  border: none;
  background-color: navy;
  color: #fff;
  cursor:pointer;
  opacity:0.8;
} 


.listcontainer.btn cancel{
  background-color: navy;
}
.listcontainer.btn:hover,.large:hover{
opacity: 1;
} */